@font-face {
  font-family: 'Copse';
  font-style: normal;
  font-weight: 400;
  src: local('Copse'), url(http://themes.googleusercontent.com/static/fonts/copse/v3/GTNBLj58pwv6qyDO1RGnXaCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
